@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    background-color: rgb(222, 204, 240);
}

.card {
    background-color: white;
    width: 50%;
    margin: 4em auto;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 1em;
}

h1 {
    font-weight: 700;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.card p:first-of-type {
    font-size: 1.2em;
    color: #444;
    margin: 1em 0;
    line-height: 1.5em;
    /* font-weight: bold; */
}

.price {
    font-size: 1.5em;
    color: orangered;
    font-weight: bold;
}

.option {
    font-size: 1em;
    color: #777;
    margin: 1em 0;
    line-height: 1.5em;
    border: 1px solid #999;
    /* border-bottom: 3px solid #777; */
    padding: .5em;
    box-sizing: border-box;
    border-radius: .5em;
    cursor: pointer;
}

input[type=email] {
    background-color: white;
    color: black;
    padding: .8em .6em;
    box-sizing: border-box;
    border-radius: .5em;
    display: block;
    margin-top: 1em;
    text-decoration: none;
    /* text-align: center; */
    font-size: 1.05em;
    width: 100%;
    border: 1px solid rgb(192, 137, 243);
}

input[type=email]:focus {
    outline: 3px solid rgb(227, 216, 238);
}

input[type=submit] {
    background-color: blueviolet;
    color: white;
    padding: .55em;
    box-sizing: border-box;
    border-radius: .5em;
    display: block;
    margin-top: .5em;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    width: 100%;
    border: none;
    cursor: pointer;
}

.chapters {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 2em;
}

.cpt {
    border: 2px solid rgb(144, 92, 196);
    padding: .8em;
    box-sizing: border-box;
    border-radius: .3em;
    width: 32%;
    width: 49%;
    /* margin: .5em 0; */
}

.cpt a {
    background-color: blueviolet;
    color: white;
    padding: .5em;
    box-sizing: border-box;
    border-radius: .3em;
    display: block;
    margin-top: .5em;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    width: 100%;
    border: none;
    cursor: pointer;
}

p.chap {
    color: blue !important;
    font-weight: 500 !important;
}

.cpt h3 {
    font-weight: 700;
    letter-spacing: .03em;
}

.cpt p:first-of-type {
    margin: 0;
    padding: 0;
    line-height: 1.9em;
    font-weight: normal;
    font-size: initial;
    color: #000;
}

p.qno {
    margin: .4em 0;
}

.cpt p:last-of-type {
    background-color: green;
    display: inline-block;
    color: white;
    font-weight: bold;
    padding: .2em .5em;
    box-sizing: border-box;
    border-radius: .3em;
    font-size: small;
    text-align: center;
    /* color: #000; */
}

.cpt p.paid {
    background-color: orangered;
}

@media (max-width: 1100px) {
    .card {
        width: 60%;
    }

    .cpt {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .card {
        width: 100%;
        margin: 0;
        border-radius: 0;
        background-color: rgb(227, 216, 238);
    }

    .chapters {
        background-color: rgb(227, 216, 238);
    }

    .cpt {
        background-color: rgb(227, 216, 238);
    }
}