<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - Tencis Stores</title>
    {% load static %}
    {% load checkmodels %}

    <link rel="stylesheet" href="{% static 'shop.css' %}">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="con">
        <div class="shop" id="shop" style="padding-top: .7em;" data-aos="fade-up" data-aos-duration="1000"
            data-aos-delay="200">
            <div class="ctg">
                <div class="ctgheader">
                    <h2>My Cart</h2>
                    <a href="/products/">Add products</a>
                </div>
                <p id="cart-count-2">{{ cart.cartproduct_set.all.count }} products</p>
                <div class="shopcon">
                    {% for cartproduct in cart.cartproduct_set.all %}
                    <div class="shopbox" id="div-{{ cartproduct.product.id }}">
                        <!-- <p class="new">NEW</p> -->
                        <img src="{{ cartproduct.product.image.url }}" alt="{{ cartproduct.product.image.name }}">
                        <p class="itemname">{{ cartproduct.product.name }}</p>
                        <p class="itemprice">${{ cartproduct.product.price }}</p>
                        <p class="itemprice" id="price-{{ cartproduct.id }}"
                            style="font-size: 1em; font-weight: 400; border-top: 1px solid #e4dede; margin-top: .3em; padding-top: .3em;">
                            ${{ cartproduct.total_price }}</p>
                        <div class="qty">
                            <button class="decr" data-id="{{ cartproduct.id }}">-</button>
                            <p class="qtytext" id="qty-{{ cartproduct.id }}">{{ cartproduct.quantity }}</p>
                            <button class="incr" data-id="{{ cartproduct.id }}">+</button>
                        </div>
                        {% if cart %}
                        {% if cart|checkincart:cartproduct.product %}
                        <a class="add-to-cart" data-id="{{ cartproduct.product.id }}"
                            style="background-color: #ddd; color: red;">Remove</a>
                        {% else %}
                        <a class="add-to-cart" data-id="{{ cartproduct.product.id }}">Add To Cart</a>
                        {% endif %}
                        {% else %}
                        <a class="add-to-cart" data-id="{{ cartproduct.product.id }}">Add To Cart</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

                <div class="checkout">

                    <div class="total">
                        <h2>Cart totals</h2>
                        <div class="totaltext">
                            <p>Total Items</p>
                            <p id="cart-total-items">{{ cart.get_total_items }}</p>
                        </div>
                        <div class="totaltext">
                            <p>Total Price</p>
                            <p id="cart-total-price">${{ cart.get_total_price }}</p>
                        </div>
                    </div>

                    <div class="details">
                        <h2>Shipping Information</h2>

                        <form action="/cart/" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form">
                                <p>{{ field.label }}</p>
                                {{ field }}
                                {% for error in field.errors %}
                                <p class="error">{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endfor %}

                            <div class="form">
                                <!-- <p class="info">
                                    Once you click the 'save and checkout" button below, you will be
                                    redirected to our payment page where you will charged the sum total of <span
                                        id="info-price">${{ cart.get_total_price }}</span> to
                                    complete your purchase.
                                </p> -->
                                {% if cart.cartproduct_set.all|length == 0 %}
                                <input type="submit" id="checkout-button" value="Save and checkout" disabled
                                    style="background-color: #ddd; color: #999;">
                                {% else %}
                                <input type="submit" id="checkout-button" value="Save and checkout">
                                {% endif %}

                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>


        <div class="contact" id="contact" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
            <div class="contcon">

                <div class="contlogo">
                    <h2>Tencis Stores</h2>
                </div>
                <div class="contlinks">
                    <div class="linkdiv">
                        <p class="for">contact us</p>
                        <a href="tel:09130592962">09130592962</a>
                        <a href="mailto:tcstores@gmail.com">tcstores@gmail.com</a>
                    </div>
                    <div class="linkdiv">
                        <p class="for">follow us</p>
                        <a href="">Facebook</a>
                        <a href="">Instagram</a>
                        <a href="">Threads</a>
                        <a href="">Tiktok</a>
                        <a href="">Youtube</a>
                    </div>
                    <div class="linkdiv">
                        <p class="for">Communities</p>
                        <a href="">Facebook</a>
                        <a href="">Instagram</a>
                        <a href="">Discord</a>
                        <a href="">Whatsapp</a>
                    </div>
                </div>
                <div class="conticons">
                    <div class="imgcon">
                        <img src="{% static 'instagram_4494468.png' %}" alt="" width="35" height="35">
                    </div>
                    <div class="imgcon">
                        <img src="{% static 'facebook_2168281.png' %}" alt="" width="35" height="35">
                    </div>
                    <div class="imgcon">
                        <img src="{% static 'twitter_4401454.png' %}" alt="" width="35" height="35">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="menu">
        <div class="logo">
            <h1>Tencis Stores</h1>
        </div>
        <div class="links">
            <a href="/#">Home</a>
            <a href="/#shop">Shop</a>
            <a href="/#about">About</a>
            <a href="/#reviews">Reviews</a>
            <a href="/#contact">Contact</a>
            <button id="menu-button">Menu</button>
        </div>
    </div>

    <div class="cart">
        <div class="cartcon">
            <a href="">
                <img src="{% static 'shopping-cart.png' %}" alt="" width="30" height="30">
            </a>
            <p id="cart-count">{{ cart.cartproduct_set.all|length }}</p>
        </div>
    </div>
    <div class="banner">
        <p>Created by <a href="https://www.tencis.online">Tencis Designs</a> </p>
    </div>

    <div class="menubox" id="menu-element">
        <div class="menupage">
            <h3>Menu</h3>
            <button id="home-button">Home</button>
            <button id="shop-button">Shop</button>
            <button id="about-button">About</button>
            <button id="reviews-button">Reviews</button>
            <button id="contact-button">Contact</button>
            <button id="close-button">Close</button>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.add-to-cart').click(function (e) {
                e.preventDefault();
                var product_id = $(this).data('id');
                var button = $(this);
                // Get the product ID from the button's data attribute
                $.ajax({
                    type: 'POST',
                    url: `/add-to-cart/${product_id}/`, // Django URL for adding to cart

                    success: function (response) {
                        alert(response.message); // Show a message when the item is added to the cart
                        if (response.status === 'added') {
                            button.text('Remove From Cart');
                            button.css({
                                'background-color': '#ddd', // Change background
                                'color': 'red', // Change text color
                            });
                        } else {
                            button.text('Add To Cart');
                            button.css({
                                'background-color': 'black', // Change background
                                'color': 'white', // Change text color
                            });
                        }
                        console.log(response.cartItemCount);
                        $('#cart-count').text(response.cartItemCount);
                        $('#cart-count-2').text(`${response.cartItemCount} product${response.cartItemCount === 1 ? '' : 's'}`);
                        document.getElementById(`cart-total-items`).textContent = `${response.cartTotalItems}`;
                        document.getElementById(`cart-total-price`).textContent = `$${response.cartTotalPrice}`;
                        // document.getElementById(`info-price`).textContent = `$${response.cartTotalPrice}`;
                        // Update cart count if necessary
                        document.getElementById(`div-${product_id}`).style.display = 'none';
                        if (response.cartItemCount === 0) {
                            $('#checkout-button').prop('disabled', true);
                            $('#checkout-button').css({
                                'background-color': '#ddd', // Change background
                                'color': '#999', // Change text color
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(error); // Handle errors
                    }
                });
            });


            $('.incr').click(function (e) {
                e.preventDefault();
                var cartproduct_id = $(this).data('id');
                // Get the cartproduct ID from the button's data attribute
                $.ajax({
                    type: 'POST',
                    url: `/increase/${cartproduct_id}/`, // Django URL for increasing quantity

                    success: function (response) {
                        document.getElementById(`qty-${cartproduct_id}`).textContent = response.cartProductCount;
                        document.getElementById(`price-${cartproduct_id}`).textContent = `$${response.totalPrice}`;
                        document.getElementById(`cart-total-items`).textContent = `${response.cartTotalItems}`;
                        document.getElementById(`cart-total-price`).textContent = `$${response.cartTotalPrice}`;
                        // document.getElementById(`info-price`).textContent = `$${response.cartTotalPrice}`;
                    },
                    error: function (xhr, status, error) {
                        console.error(error); // Handle errors
                    }
                });
            });


            $('.decr').click(function (e) {
                e.preventDefault();
                var cartproduct_id = $(this).data('id');
                var button = $(this);
                let qty = document.getElementById(`qty-${cartproduct_id}`).textContent;
                if (qty == 1) {
                    alert('Quantity cannot be less than 1!')
                    return;
                }
                // Get the cartproduct ID from the button's data attribute
                $.ajax({
                    type: 'POST',
                    url: `/decrease/${cartproduct_id}/`, // Django URL for increasing quantity

                    success: function (response) {
                        document.getElementById(`qty-${cartproduct_id}`).textContent = response.cartProductCount;
                        document.getElementById(`price-${cartproduct_id}`).textContent = `$${response.totalPrice}`;
                        document.getElementById(`cart-total-items`).textContent = `${response.cartTotalItems}`;
                        document.getElementById(`cart-total-price`).textContent = `$${response.cartTotalPrice}`;
                        // document.getElementById(`info-price`).textContent = `$${response.cartTotalPrice}`;
                    },
                    error: function (xhr, status, error) {
                        console.error(error); // Handle errors
                    }
                });
            });
        });
    </script>

    

    <script>
        let menuButton = document.getElementById('menu-button');
        let menuElement = document.getElementById('menu-element');
        let homeDiv = document.getElementById('home');
        let shopDiv = document.getElementById('shop');
        let aboutDiv = document.getElementById('about');
        let reviewsDiv = document.getElementById('reviews');
        let contactDiv = document.getElementById('contact');
        let homeButton = document.getElementById('home-button');
        let shopButton = document.getElementById('shop-button');
        let aboutButton = document.getElementById('about-button');
        let reviewsButton = document.getElementById('reviews-button');
        let contactButton = document.getElementById('contact-button');
        let closeButton = document.getElementById('close-button');

        menuButton.onclick = () => {
            menuElement.style.display = 'flex';
        }

        closeButton.onclick = () => {
            menuElement.style.display = 'none';
        }

        homeButton.onclick = () => {
            open('/#', '_parent')
        }

        aboutButton.onclick = () => {
            open('/#about', '_parent')
        }

        shopButton.onclick = () => {
            open('/#shop', '_parent')
        }

        reviewsButton.onclick = () => {
            open('/#reviews', '_parent')
        }

        contactButton.onclick = () => {
            contactDiv.scrollIntoView({ behavior: 'smooth' })
            menuElement.style.display = 'none';
        }
    </script>

</body>

</html>