{% extends 'base.html' %}

{% block title %}
{% load static %}
<title>ShopSwift</title>
{% endblock %}

{% block body %}
<div class="home" id="#">
    <div class="text">
        <h1>Welcome to ShopSwift.</h1>
        <p>Your one-stop shop for everything you need.
        </p>
        <a href="#shop">Shop Now</a>
    </div>
    <div class="image">
        <img src="{% static 'watchimg.png' %}" alt="">
    </div>
</div>

<div class="ft">
    <div class="ftcon">
        <div class="ftconsub">
            <div class="ftbox">
                <img src="{% static 'dashboard.png' %}" alt="">
                <h2>Wide Product Variety</h2>
                <p>Find everything you need—from fashion and tech to home essentials—all in one convenient place. We’re
                    your one-stop shop for everyday living.</p>
            </div>
            <div class="ftbox">
                <img src="{% static 'calendar.png' %}" alt="">
                <h2>Fast & Reliable Delivery</h2>
                <p>Shop with confidence knowing your items will arrive quickly and safely. We partner with trusted
                    couriers to deliver your orders on time, every time.</p>
            </div>
        </div>
        <div class="ftimg">
            <!-- <img src="{% static 'feat.png' %}" alt="" width="500" height="400"> -->
        </div>
        <div class="ftconsub">
            <div class="ftbox">
                <img src="{% static 'batteryv.png' %}" alt="">
                <h2>Easy Shopping Experience</h2>
                <p>
                    Our user-friendly platform makes browsing, selecting, and checking out fast and simple. Whether
                    you're on desktop or mobile, shopping is smooth and stress-free.</p>
            </div>
            <div class="ftbox">
                <img src="{% static 'price-tag.png' %}" alt="">
                <h2>Affordable price</h2>
                <p>
                    Enjoy competitive pricing on all your favorite items. We believe quality shouldn’t break the bank,
                    so we offer amazing deals every day.</p>
            </div>
        </div>
    </div>
</div>

<div class="shop" id="shop" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
    <div class="ctg">
        <div class="ctgheader">
            <h2>Our Products</h2>
            <a href="/products/">see all</a>
        </div>

        <div class="shopcon">
            {% for product in products %}
            <div class="shopbox">
                <img src="{{ product.image.url }}" alt="">
                <p class="itemname">{{ product.name }}</p>
                <p class="itemprice">₦{{ product.price }}</p>
            </div>
            {% empty %}
            <p>No products available!</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="about featurerev" id="about" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
    <div class="text">
        <h1>About Us</h1>
        <p>
            Welcome to ShopSwift – your go-to destination for everything you need.
            From stylish wearables and the latest tech to everyday essentials, we bring you a wide range of quality
            products—all in one place. At ShopSwift, we believe shopping should be easy, exciting, and affordable.

            We’re more than just an online store—we’re a community built on trust, variety, and convenience.

        </p>

        <a href="#contact">Contact Us</a>
    </div>
    <div class="image">
        <img src="{% static 'navy-blue-watch-600x600.png' %}" alt="">
    </div>
</div>

<div class="reviews" id="reviews" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
    <div class="revhead">
        <p>Customer Reviews</p>
    </div>

    <div class="revcon">
        <div class="revbox">
            <div class="author">
                <div class="authorimg">
                    <img src="{% static 'A junior high s 1.png' %}" alt="" width="50" height="50">
                </div>
                <div class="authordesc">
                    <p class="name">Stella Smith</p>
                    <p class="state">Lagos</p>
                </div>
            </div>
            <p>"I bought a smartwatch from ShopSwift and it arrived earlier than expected. The quality was top-notch and
                exactly as described. Shopping here was smooth and stress-free."</p>
        </div>

        <div class="revbox">
            <div class="author">
                <div class="authorimg">
                    <img src="{% static 'A junior high s 1.png' %}" alt="" width="50" height="50">
                </div>
                <div class="authordesc">
                    <p class="name">Aisha Barakat</p>
                    <p class="state">Ibadan</p>
                </div>
            </div>
            <p>"ShopSwift has become my favorite online store. I've ordered tech items and fashion accessories and
                everything came in perfect condition. Prices are fair and service is reliable."</p>
        </div>

        <div class="revbox">
            <div class="author">
                <div class="authorimg">
                    <img src="{% static 'A junior high s 1.png' %}" alt="" width="50" height="50">
                </div>
                <div class="authordesc">
                    <p class="name">Solomon Adeyemi</p>
                    <p class="state">Abuja</p>
                </div>
            </div>
            <p>"Great product variety! I got gifts, phone accessories, and even a few home items in one go. One item was
                out of stock, but support helped me sort it out quickly."</p>
        </div>

        <div class="revbox">
            <div class="author">
                <div class="authorimg">
                    <img src="{% static 'A junior high s 1.png' %}" alt="" width="50" height="50">
                </div>
                <div class="authordesc">
                    <p class="name">Jessica Okeke</p>
                    <p class="state">Enugu</p>
                </div>
            </div>
            <p>"What stood out for me was the customer service. They responded quickly and were super polite. My order
                arrived safely and looked even better in person."</p>
        </div>

        <div class="revbox">
            <div class="author">
                <div class="authorimg">
                    <img src="{% static 'A junior high s 1.png' %}" alt="" width="50" height="50">
                </div>
                <div class="authordesc">
                    <p class="name">Stanley Williams</p>
                    <p class="state">Jos</p>
                </div>
            </div>
            <p>"I love how convenient ShopSwift is. I found everything I needed without jumping from site to site. Fast
                delivery and a smooth checkout process made it worth it."
            </p>
        </div>

        <div class="revbox">
            <div class="author">
                <div class="authorimg">
                    <img src="{% static 'A junior high s 1.png' %}" alt="" width="50" height="50">
                </div>
                <div class="authordesc">
                    <p class="name">Chinaza MaryAnn</p>
                    <p class="state">Lagos</p>
                </div>
            </div>
            <p>"A friend told me about ShopSwift and I’m glad I checked it out. They have quality products, fair prices,
                and dependable delivery. I’ve already made another order."</p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'navigation.js' %}"></script>
{% endblock %}